
header{
    text-align: center;
}

.nombretitulo{
    letter-spacing: 9px;
}

.job {
    font-weight: 500;
    letter-spacing: 2px;
    display: inline-block;
    margin: 0 -0rem;
    font-size: 20px;
     
}

.lineajob {
    width: 15%;
    display: inline-block;
    border: 1px solid black;
    filter: invert(60%);
    
}

.iconospos{
    font-size: small;
    display: grid;
    grid-template-columns: 120px 180px 120px;
    margin-left: 7%;
}

.circulostexto{
    display: grid;
    grid-template-columns: 85px 85px 90px 85px 120px;
    
    
}
#borde{
    border-width: thin;
    border-style: inset;
    border-color: #000000;
    width: 480px;
    margin: 0 auto;
    

}

#borde2{
    padding: 25px;
    
}

h5{
    margin-left: 5%;
}

.imgcircles{
    filter: brightness(1.1);
    mix-blend-mode: multiply;
    display: grid;
    grid-template-columns: 88px 88px 88px 88px 88px;
    
    
}

.column {
 width: 70%;
 margin-left: 46%;
 
}

.column2{
    font-size: 10px;
    margin-left: 47%;
    grid-template-columns: 88px 88px 88px 88px 88px;
}

.subparrafo{
    margin-left: 5%;
    font-size: 12px;
    
}

.primerlista{
    font-size: 70%;
}
 

 .imggary{
  width: 16%;
  position:  absolute;
  margin-top: -23%;
  margin-left: 25%;
  filter: opacity(70%);
 }

 .segundalista{
    font-size: 60%; 
    
 }



 .column4{
    
    margin-left: 60%;
    margin-top: -48%;
 }
 
.iconscuadro{
    display: grid;
    grid-template-columns: 80px 80px;
    margin-top: 90px;
    text-align: center;
   
}

 .textoicono{
    font-size: 30px;
 }

 .column3{
  position: absolute;
  right: 41%;
  top: 111%;
  
 }

 .linea{
 border-left: 1px solid black;
 height: 25%;
 left: 50%;
 position: absolute;
 margin-top: -145px;
 }
 

  body {
    background: var(--light-0);
    display: grid;
    height: 100vh;
    margin: 0;
    place-items: center;
    
    
    
  }
  
  body.dark {
    background: var(--dark-2);
    
  }

  .button{
   border-radius: 10px;
   border-color: transparent;
   background-color: transparent;
   
  }
  
#boton2{
    border-radius: 3px;
    border: none;
    background-color: transparent;
    margin-left: 70%;
    
}